# Generated outputs
/work/
design/work/*
!design/work/exp_01/
design/work/exp_01/*
!design/work/exp_01/best_binders/
!design/work/exp_01/best_binders/**
logs/
outputs/
results/

# HPC / LSF logs
*.out
*.err
*.log

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
conda_env/

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Cloude
agents/
